<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Haystack - Find your needle</title>
  <link rel="stylesheet" href="dist/styles/main.min.css">
  <link rel="stylesheet" href="dist/styles/elegent.css">
  <link rel="stylesheet" href="dist/styles/bootstrap-grid.min.css">
</head>
<body>
  <header >
   <nav class="container">

    <a class="navbar-logo" href="#"><img src="dist/images/logo.png" alt=""></a>
     <div id="navbarNav">
      <ul class="navbar-nav row">
        <li class="nav-item active-nav ">
          <a class="nav-link" href="#">Home        
</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">About Haystack </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"> Why Haystack?</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="#">News</a>
        </li> <li class="nav-item ">
        <a class="nav-link " href="#">Contact </a>
      </li> <li class="nav-item ">
      <a class="nav-link " href="#">Support</a>
    </li> 
    <li class="nav-item ">
      <a class="nav-link " href="#">Sign-Up</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="#"><span class="icon_search" ></span></a>
    </li>
  </ul> 
</div>
  <a href="#"> <span class="icon_menu"  style=""></span></a>

</nav>
</header>
<div class="content">
  <div class="slides">
    <div class="slide">
    <div class="slide-text-area" >
      <h1>Haystack will help
you find the perfect 
candidate <span>faster </span>
& <span>easier</span> than ever.
</h1>
<p>A “needle in a haystack.” We’ve all heard it said, but when you are trying to find that special person to join your team, it can become a life’s mission. Haystack is the all-new way to streamline your hiring process and find you the “needle” you need. </p>
<button>Sign-Up Today!</button>
    </div>
    <img src="dist/images/slide-back.png" alt="" title=""/>
    
    </div>
    <div class="nav-slid-bottom">
      <span class="bulbe "></span>
      <span class="bulbe selected-bulbe"></span>
      <span class="bulbe"></span>
    </div>
    <div class="nav-slid-middle">
      <span class="arrow-left"></span> 
      <span class="arrow-left"></span>
    </div>
  </div>
  <div class="testimonial">
      <div class="container">
                  <img src="dist/images/test-person.png" alt="" class="">

      <div class="text-testimonial">
          <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut </h3>
          <p>- Customer Name, Company</p>
          </div>

      </div>
  </div>
  <div class="our-services row">
    <img src="dist/images/our-services.png" alt="" class="col-sm-6">
    <aside class="col-sm-6">
    <div class="container">
<div class="row ">

      <div class="card col-sm col-md-6 "  style="border-bottom:1px dashed #ccc;border-right:1px dashed #ccc;">
        <img src="dist/images/fast-interview.png" alt=""><h3> New, Faster Way to Hire </h3>
        <p>Proin purus est, mattis a condimentum sed, gravida at neque. Proin sem sem, facilisis et erat mollis, hendrerit.

</p>
        <a href="#">learn more</a>
      </div>

      <div class="card col-sm col-md-6 " style="border-bottom:1px dashed #ccc;border-left:1px dashed #ccc;" >
        <img src="dist/images/fast-interview.png" alt=""><h3> New, Faster Way to Hire </h3>
        <p>Proin purus est, mattis a condimentum sed, gravida at neque. Proin sem sem, facilisis et erat mollis, hendrerit.

</p>
        <a href="#">learn more</a>
      </div>
      </div>
<div class="row">
      <div class="card col-sm col-md-6 " style="border-top:1px dashed #ccc;border-right:1px dashed #ccc;" >
        <img src="dist/images/fast-interview.png" alt=""><h3> New, Faster Way to Hire </h3>
        <p>Proin purus est, mattis a condimentum sed, gravida at neque. Proin sem sem, facilisis et erat mollis, hendrerit.

</p>
        <a href="#">learn more</a>
      </div><div class="card col-sm col-md-6 " style="border-top:1px dashed #ccc;border-left:1px dashed #ccc;">
        <img src="dist/images/fast-interview.png" alt=""><h3> New, Faster Way to Hire </h3>
        <p>Proin purus est, mattis a condimentum sed, gravida at neque. Proin sem sem, facilisis et erat mollis, hendrerit.

</p>
        <a href="#">learn more</a>
      </div>    </div>    </div>
    </aside>
  </div>
</div>
</body>
</html>